* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #C1D0D0;
    font-family: Roboto, Arial, sans-serif;
    
    
  }
 
  .navigation__checkbox {
      display: none;
  }
  
  .navigation__button {
      position: fixed;
      top: 20px;
      left: 85px;
      height: 57px;
      width: 140px;
      border-radius: 25px;
      background: #ebe9e5;
      text-align: center;
      
      z-index: 300;
      cursor: pointer;
      font-size: 15px;
  }
  
  
  .navigation__background {
      position: fixed;
      top: 22px;
      left: 90px;
      height: 40px;
      width: 40px;
      border-radius: 25px;
      background: rgb(116, 106, 87, 0.9);
      background-size: cover;
      background-position: center;
      transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  
  .navigation__nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      opacity: 0;
      width: 0;
      visibility: hidden;
      z-index: 200;
      transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .navigation__list {
      /*@include center;*/
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      list-style: none;
  }
  
  .navigation__item {
      margin: 1rem;
  }
  
  .navigation__link:link,
  .navigation__link:visited {
      display: inline-block;
      padding: 1rem 2rem;
      text-transform: uppercase;
      color: rgb(235, 191, 191);
      font-size: 45px;
      text-decoration: none;
      transition: all .2s;
  }
   
  
  .navigation__link:hover {
      color: #fff;
      transform: scale(1.1);
  }
  
  .navigation__checkbox:checked~.navigation__background {
      transform: scale(80)
  }
  
  .navigation__checkbox:checked~.navigation__nav {
      width: 100%;
      visibility: visible;
      opacity: 1;
  }
  
  .navigation__icon {
      position: relative;
     
      
  }
  
  
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
      display: inline-block;
      background-color: #494235;
      height: 1px;
      width: 20px;
      left: 25px;
     
      
  }
  .navigation__icon{
      margin-top: 25px;
  }
  

  .navigation__icon::before,
  .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 200ms;
  }
  
  .navigation__icon::before {
      top: -.6rem;
  }
  
  .navigation__icon::after {
      top: .6rem;
      
  }
  
  .navigation__button:hover .navigation__icon::before {
      top: -1rem;
      background-color:rgb(238, 225, 225) ;
      
  }
 
  .navigation__button:hover{
    background-color: #746a57;
}
  
  .navigation__button:hover .navigation__icon::after {
      top: 1rem;
      background-color:rgb(238, 225, 225) ;
  }
  .navigation__button:hover .navigation__icon {
    background-color:rgb(238, 225, 225) ;
}
  .navigation__button:hover .di p {
    color:rgb(238, 225, 225) ;
}
  
  .navigation__checkbox:checked+.navigation__button .navigation__icon {
      background-color: transparent;
  }
  
  .navigation__checkbox:checked+.navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(135deg);
      width: 47px;
      
  }
   
  .navigation__checkbox:checked+.navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-135deg);
      width: 47px;
      
  }
  .navigation__checkbox:checked+ .navigation__button .di p {
     display: none;
  }

  .navigation__checkbox:checked+  .navigation__button{
    background-color: transparent;

}
  .di{
      width: 60px;
      height: 30px;
      right: 0;
      text-align: right;
      
  }.navigation__button{
      display: flex;
      font-size: 20px;
  }
  .di p{
      margin-right: -25px;
      margin-top: 15px;
      font-size: 14px;
      text-transform: uppercase;
      color: #494235;
  }
  .menu{
      display: flex;
      justify-content: space-between;
      position:fixed;
      background-color: transparent;
      height: 100px;
      top: 0;
      width: 100%;
      transition: all 300ms ease;
  z-index: 10;
  }
  .menu .logo{
      color:  white;
      font-size: 30px;
      text-transform: uppercase;
      padding-top: 25px;
  }
  .menu .phone{
      color: white ;
      padding-top: 35px;
  }
  .menu .phIcon {
    width: 45px;
    height: 45px;
    padding:auto;
    background-color:  white;
    border-radius: 50%;
    text-align: center;
    margin-top: 30px;
    margin-right: 40px;
    padding-top: 8px;
  }
  .menu .phIcon svg {
      color: rgb(116, 106, 87);
      
  }





.content{
    height: 100%;
    background-color: #746a57;
}
#ee{
    position: absolute;
    top: 13%;
    width: 65%;
    height: 87%;
}

#ll{
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    position: absolute;
   font-size: 12vw;
   top: 68%;
   width: 60%;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   left: 40%;
}
.woo{
    background-color: #746a57;
    height: 150%;
     padding-top: 50px;
}
#word2{  

    color: white;
    font-size: 2vw;
    position: relative;
    top: 25vh;
    left: 20%;
    width: 80%;
    z-index: 1;
}
#we{
    width: 35vw;
    position: relative;
    top: 30vh;
    left: 55%;
    height: 90vh;
}
#ww{
    width: 20vw;
    position: relative;
    top: 50vh;
    left: 10vw;
}
.car{
    background-color: rgb(241, 240, 226);
    height: 60vh;
    padding-top: 40px;
    overflow-y: hidden;
    overflow: hidden;
}

hr{
    position: relative;
    left: 10%;
    width: 80vw;
    top: 10vh;
}
#c1{
    position: relative;
    left: 8.5%;
    top: 13.6vh;
    z-index: 1;
    color: #746a57;
}
#c2{
    position: relative;
    left: 30%;
    top: 13.6vh;
    z-index: 1;
    color: #746a57;
}
#c3{
    position: relative;
    left: 60%;
    top: 13.6vh;
    z-index: 1;
    color: #746a57;
}
#c4{
    position: relative;
    left: 85%;
    top: 13.6vh;
    z-index: 1;
    color: #746a57;
}

#re{
    position: relative;
    width: 20vw;
    z-index: 2;
    top: 0;
    left: -90vw;
}
#mer{
    position: relative;
    top: 5vw;
    left: 6%;
    font-size: 2vw;
}
#min1{
    width: 200px;
    position: relative;
    top: 0;
    text-align: center;
    left: 25%;
}

#min1 h1{
    font-size: 50px;
}
#min2{
    width: 200px;
    position: relative;
    top: -6.6vw;
    text-align: center;
    left: 57%;
}

#min2 h1{
    font-size: 50px;
}
#min3{
    width: 200px;
    position: relative;
    top: -13.2vw;
    text-align: center;
    left: 85%;
}

#min3 h1{
    font-size: 50px;
}
.words{
    height: 100vh;
    background-color: #746a57;
    overflow-y: hidden;
    overflow: hidden;
    font-weight: 300;
}
#ev{
    position: relative;
    left: 0vw;
    margin-top: 15vh;
    color: rgb(255, 255, 255);
    font-size: 8vw;
}
#yn{
    position: relative;
    left: 55%;
    color: rgb(255, 255, 255);
    font-size: 8vw;
}
#nyh{
    position: relative;
    left: 18%;
    color: white;
    font-size: 8vw;
}
.mm{
    background-color: rgb(241, 240, 226);
}
#map{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer{
    position: relative;
    width:100%;
    height: 550px;
    background-color:rgb(39, 34, 33);
   display: flex;
}
.footer >div{
    padding-top: 70px;
    padding-left: 75px;

   width: 700px;
}
.footer h2{
color: rgb(224, 224, 224);
font-size: 14px;
padding-bottom: 20px;

}
.footer h4{
    color: rgb(235, 235, 235);
    font-size: 14px;
 }
.footer h3{
    color: rgb(116, 106, 87);
    font-size: 14px;    
    padding-bottom: 10px;
    padding-top: 50px;
}
.footer h1{
    color:rgb(221, 180, 180);
    font-size: 14px;
}
.footer div{
    color:rgb(116, 106, 87);
    font-size: 10px;
}

@media(max-width: 700px){
    .di{
        display: none;
    } 
    .navigation__button{
        width: 57px;
        border-radius: 50%;
        
    } 
    .navigation__icon,
      .navigation__icon::before,
      .navigation__icon::after {
          width: 15px;
          left: 22px;
         }  
    .navigation__icon::before{
          width: 15px;
          left: 0px;
     } 
    .navigation__icon::after {
             width: 15px;
             left: 0px;
            
    }
    .logo{
        padding-left: 90px;
    }
    .phone{
        display: none;
    }  
    .navigation__list{
        padding-left: 0;
    }  
    #ee{
        width: 70vw;
        height: 45vh;
    }
    .content{
        height: 45vh;
    }
    #ll{
        position: absolute;
       font-size: 12vw;
       top: 40vh;
       width: 60vw;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       left: 40%;
    }
    
    .woo{
        background-color: #746a57;
        height: 100vh;
    }
    #word2{
        color: white;
        font-size: 4vw;
        position: relative;
        top: 25vh;
        left: 10%;
        z-index: 1;
    }
    #we{
        width: 35vw;
        position: relative;
        top: 20vh;
        height: 40vh;
    }
    #ww{
        width: 30vw;
        position: relative;
        top: 35vh;
        left: 0%;
    }
    .car{
        height: 50vh;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    hr{
        top: 6vh;
    }
    #c1{
        left: 7%;
        top: 9.6vh;
        z-index: 1;
    }
    #c2{
        left: 25%;
        top: 9.6vh;
        z-index: 1;
    }
    #c3{
        left: 50%;
        top: 9.6vh;
        z-index: 1;
    }
    #c4{
        left: 77%;
        top: 9.6vh;
        z-index: 1;
    }
    
    #re{
        width: 30vw;
        z-index: 2;
        top: -2%;
        left: -150vw;
    }
    #mer{
        top: 2vh;
        left: 2%;
        font-size: 3vw;
    }
    #min1{
        margin-right: 20px;
        width: 100px;
        top: -4vh;
        left: 22%;
    }

    #min2{
        position: relative;
        top: -21.3vw;
        left: 43%;
    }
    #min3{
        top: -37vw;
        left: 74%;
        overflow: hidden;
    }
    
    .words{
        height: 55vh;
    }
    #ev{
        margin-top: 10vh;
        left: -15%;
        font-size: 10vw;
    }
    #yn{
        left: 60%;
        font-size: 10vw;
    }
    #nyh{
        left: 10%;
        font-size: 10vw;
    }
    .mm{
        height: 58vh;
    }
    #map{
        height: 50vh;
        margin-bottom: 30px;
    }
    
    .footer{
        height: 450px;
    }
    .footer >div{
        padding-left: 40px;
    }

    }