* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #C1D0D0;
    font-family: Roboto, Arial, sans-serif;
    
    
  }
 
  .navigation__checkbox {
      display: none;
  }
  
  .navigation__button {
      position: fixed;
      top: 20px;
      left: 85px;
      height: 57px;
      width: 140px;
      border-radius: 25px;
      background: #ffffff;
      text-align: center;
      
      z-index: 300;
      cursor: pointer;
      font-size: 15px;
  }
  
  
  .navigation__background {
      position: fixed;
      top: 22px;
      left: 90px;
      height: 40px;
      width: 40px;
      border-radius: 25px;
      background: transparent;
      background-size: cover;
      background-position: center;
      transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  
  .navigation__nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      opacity: 0;
      width: 0;
      visibility: hidden;
      z-index: 200;
      transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .navigation__list {
      /*@include center;*/
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      list-style: none;
  }
  
  .navigation__item {
      margin: 1rem;
  }
  
  .navigation__link:link,
  .navigation__link:visited {
      display: inline-block;
      padding: 1rem 2rem;
      text-transform: uppercase;
      color: rgb(236, 205, 205);
      font-size: 35px;
      font-weight: 350;
      text-decoration: none;
      transition: all .2s;
  }

  .navigation__link:hover {
      color: #fff;
      transform: scale(1.1);
  }
  #jh{
      color: #fff;
  }
  .navigation__checkbox:checked~.navigation__background {
      transform: scale(80);
      background-color: rgb(116, 106, 87, 0.9);
  }
  
  .navigation__checkbox:checked~.navigation__nav {
      width: 100%;
      visibility: visible;
      opacity: 1;
  }
  
  .navigation__icon {
      position: relative;
     
      
  }
  
  
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
      display: inline-block;
      background-color: #494235;
      height: 1px;
      width: 20px;
      left: 25px;
     
      
  }
  .navigation__icon{
      margin-top: 25px;
  }
  

  .navigation__icon::before,
  .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 200ms;
  }
  
  .navigation__icon::before {
      top: -.6rem;
  }
  
  .navigation__icon::after {
      top: .6rem;
      
  }
  
  .navigation__button:hover .navigation__icon::before {
      top: -1rem;
      background-color:rgb(238, 225, 225) ;
      
  }
 
  .navigation__button:hover{
    background-color: #746a57;
}
  
  .navigation__button:hover .navigation__icon::after {
      top: 1rem;
      background-color:rgb(238, 225, 225) ;
  }
  .navigation__button:hover .navigation__icon {
    background-color:rgb(238, 225, 225) ;
}
  .navigation__button:hover .di p {
    color:rgb(238, 225, 225) ;
}
  
  .navigation__checkbox:checked+.navigation__button .navigation__icon {
      background-color: transparent;
  }
  
  .navigation__checkbox:checked+.navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(135deg);
      width: 47px;
      
  }
   
  .navigation__checkbox:checked+.navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-135deg);
      width: 47px;
      
  }
  .navigation__checkbox:checked+ .navigation__button .di p {
     display: none;
  }

  .navigation__checkbox:checked+  .navigation__button{
    background-color: transparent;

}
  .di{
      width: 60px;
      height: 30px;
      right: 0;
      text-align: right;
      
  }.navigation__button{
      display: flex;
      font-size: 20px;
  }
  .di p{
      margin-right: -25px;
      margin-top: 15px;
      font-size: 14px;
      text-transform: uppercase;
      color: #494235;
  }
  .menu{
      display: flex;
      justify-content: space-between;
      position:fixed;
      background-color: transparent;
      height: 100px;
      top: 0;
      width: 100%;
      transition: all 300ms ease;
      z-index: 10;
      padding-right: 20vw;
  }
  .menu .logo{
      color:  white;
      font-size: 30px;
      text-transform: uppercase;
      padding-top: 10px;
  }
  .menu .phone{
      color: white ;
      padding-top: 35px;
  }
  .menu .phIcon {
    width: 45px;
    height: 45px;
    padding:auto;
    background-color:  white;
    border-radius: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
    padding-top: 8px;
    margin-right: 25px;
  }
  .menu .phIcon svg {
      color: rgb(116, 106, 87);
      
  }



.content{
    height: 100%;
    background-color: #746a57;
}
#ee{
    position: absolute;
    top: 13%;
    width: 57vw;
    height: 87vh;
    object-fit: cover;
}

#ll{
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    position: absolute;
   font-size: 12vw;
   top: 68%;
   width: 60%;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   left: 40%;
   
}
.woo{
    background-color: #746a57;
    height: 150%;
     padding-top: 50px;
}
#word2{  

    color: white;
    font-size: 2vw;
    position: relative;
    top: 25vh;
    left: 20%;
    width: 80%;
    z-index: 1;
}
#we{
    width: 35vw;
    position: relative;
    top: 30vh;
    left: 55%;
    height: 90vh;
}
#ww{
    width: 20vw;
    position: relative;
    top: 50vh;
    left: 10vw;
}
.car{
    background-color: rgb(241, 240, 226);
    height: 60%;
    padding-top: 50px;
    overflow-y: hidden;
    overflow: hidden;
}

hr{
    position: relative;
    left: 10%;
    width: 80vw;
    top: 10vh;
}
#c1{
    position: relative;
    left: 8.5%;
    top: 13.6vh;
    z-index: 1;
    color: #746a57;
}
#c2{
    position: relative;
    left: 30%;
    top: 13.6vh;
    z-index: 1;
    color: #746a57;
}
#c3{
    position: relative;
    left: 60%;
    top: 13.6vh;
    z-index: 1;
    color: #746a57;
}
#c4{
    position: relative;
    left: 85%;
    top: 13.6vh;
    z-index: 1;
    color: #746a57;
}

#re{
    position: relative;
    width: 20vw;
    z-index: 2;
    top: -2vh;
    left: -90vw;
}
#mer{
    position: relative;
    top: 5vw;
    left: 6%;
    font-size: 2vw;
}
#min1{
    width: 200px;
    position: relative;
    top: 0;
    text-align: center;
    left: 25%;
}

#min1 h1{
    font-size: 50px;
}
#min2{
    width: 200px;
    position: relative;
    top: -6.6vw;
    text-align: center;
    left: 57%;
}

#min2 h1{
    font-size: 50px;
}
#min3{
    width: 200px;
    position: relative;
    top: -13.2vw;
    text-align: center;
    left: 85%;
}

#min3 h1{
    font-size: 50px;
}
.words{
    height: 100vh;
    background-color: #746a57;
    overflow-y: hidden;
    overflow: hidden;
    font-weight: 300;
}
#ev{
    position: relative;
    left: 0vw;
    margin-top: 15vh;
    color: rgb(255, 255, 255);
    font-size: 8vw;
}
#yn{
    position: relative;
    left: 55%;
    color: rgb(255, 255, 255);
    font-size: 8vw;
}
#nyh{
    position: relative;
    left: 18%;
    color: white;
    font-size: 8vw;
}
.mm{
    background-color: rgb(241, 240, 226);
}
#map{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer{
    position: relative;
    width:100%;
    height: 500px;
    background-color:rgb(39, 34, 33);
   display: flex;
}
.footer >div{
    padding-top: 70px;
    padding-left: 75px;

   width: 700px;
}
.footer h2{
color: rgb(224, 224, 224);
font-size: 14px;
padding-bottom: 20px;

}
.footer h4{
    color: rgb(235, 235, 235);
    font-size: 14px;
 }
.footer h3{
    color: rgb(116, 106, 87);
    font-size: 14px;    
    padding-bottom: 10px;
    padding-top: 50px;
}
.footer h1{
    color:rgb(221, 180, 180);
    font-size: 14px;
}
.footer div{
    color:rgb(116, 106, 87);
    font-size: 10px;
}
.phone123{
  
    position: fixed;
    left:90vw;
    z-index:5000;
    text-align: center;
  
  }
  
  .ph_checkbox ,.ph_checkbox1,.ph_checkbox2 {
      display: none;
  }

  .phIcon1  {
      width: 60px;
      height: 60px;
      background-color:  white ;
      border-radius: 50%;
      text-align: center;
      margin-bottom: 1vh;
      margin-top: 2vh;
      transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
      cursor: pointer;
     display: block; 

  }
  .ic{
      padding-top: 1vw;
  }
  .phIcon2,.phIcon3{
      
      display:none;
  
      width: 60px;
      height: 60px;
    
      background-color:  white ;
      border-radius: 50%;
      text-align: center;
      transition: all 400ms cubic-bezier(0.86, 0, 0.07, 1);
      margin-bottom: 8px;
      margin-right: 40px;
      padding-top: 8px;
      cursor: pointer;
    
  
  }
  .b {
      position: fixed;
      
      width: 1vw;
      height: 1vw;
      border-radius: 50%;
      opacity:0.9;
      background:transparent;
      background-size: cover;
      background-position: center;
      transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
      
  }
 
  .b1 {
      
      position: fixed;
      opacity:0.9;
    
      width: 1vw;
      height: 1vw;
      border-radius: 50%;
  
      background:transparent;
      background-size: cover;
      background-position: center;
      transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
      
  }
  
  .cl ,.cl1{
      position: absolute;
      z-index:12;
    top:2vw;
    margin-right:2vw;
    display: none; 
      color:rgb(154, 147, 127);
      cursor: pointer;
      transition: 600ms;
        
  }
  .cl:hover{
      color:rgb(235, 191, 191);
  }
  .cl1:hover{
      color:rgb(235, 191, 191);
  }
 
  
  
  .phIcon1:hover{
      background-color:  #494235;
      
    }
   
  .phIcon2:hover{
      background-color:  #494235;
  
    }
  .phIcon3:hover{
      background-color:  #494235;
      
  }
  .ph_checkbox:checked ~.phIcon2 {
    display: block;
     

  
     
  }
  
  .ph_checkbox:checked ~.phIcon3 {
      display: block;    
    
   
      
      }
            .ph_checkbox1:checked~.b{
             background-color: black;
            transform: scale(500);
      }
  .ph_checkbox1:checked~.cl{
         display:block;
       
      }
      .ph_checkbox1:checked~.phIcon2{
          display:none;
        
       }
       .ph_checkbox1:checked~.phIcon3{
          display:none;
        
       }
       .ph_checkbox1:checked~.phIcon{
          display:none;
        
       }
       .ph_checkbox1:checked~.call1{
          display: block;
          animation: fade_in_show 2s;
              opacity: 1;
       }
       @keyframes fade_in_show {
        0% {
             opacity: 0;
             transform: scale(0)
        }
   
        100% {
             opacity: 1;
             transform: scale(1)
        }
    }
    
      .ph_checkbox2:checked~.cl1{
          display:block;
          
       }
   
  .ph_checkbox2:checked~.b1{
          background-color:  black;
        transform: scale(300);
   }
  
   
  
   
  .sub{
      
       font-weight: 500;
      height: 50px;
        width: 200px;
        border-radius: 25px;
       background: rgb(233, 191, 174);
       border: 3px solid rgb(233, 191, 174);
       color:black;
       margin-right:2vw;   
      } 
      .sub:hover{
          border-color: #696647;
          background: #696647;
          color:rgb(233, 191, 174);
      } 
      
  #phone{
      text-align: center;
      height: 50px;
      width: 200px;
      border-radius: 25px;
      background: transparent;
      border: 3px solid rgb(233, 191, 174);
      color:rgb(233, 191, 174);
  }
  .ic1{
      padding:0.4vw;
  }
  .call1{
      display:none;
      text-align: center;
      width: -30vw;
      height: 1vw;
      position: fixed;
      left:25vw;
        transition-delay: 400ms;
      z-index: 2;
      transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  
  }
  .call1 img{
      margin-top: -3vw;
      width:22vw;
  }
             
  .calltext{
      color:rgb(233, 191, 174);
      font-size: 2vw;
  }
  .ph_checkbox2:checked~.call2{
      display:block;
      animation: fade_in_show 2s;
              opacity: 1;
  }
  .call2{
      display: none;
      position: fixed;
      text-align: center;
      z-index:11;
      border:8px solid rgb(233, 191, 174);
    left:34vw;   
    color:rgb(233, 191, 174);
    justify-content: center;
    font-size: 1vw;
    border-radius: 2vw;
    text-align: center;
    margin-top: -5vw;
   width: 30vw;  
}
#emailAddress{
border-radius: 1vw;
text-align: center;
border:3px solid rgb(233, 191, 174);
height: 5vw;

width:25vw;
}
#message{

margin-bottom: 2vw;
border-radius: 1vw;
border:3px solid rgb(233, 191, 174);
height: 7vw;
text-align: center;
width:25vw;
}
.phone123
.cl{
right: 5vw;
}
.cl1{
right: 12vw;
}
.emailBox{
      
    margin-top:2vw;   


 font-size: 1vw;
 text-align: center;
 
}
.messageBox{  
    font-size: 1vw;
    text-align: center;
}
.sb1{
    width:8vw;
    height: 2vw;
    border-color: rgb(233, 191, 174);
    background: rgb(233, 191, 174);
    color:#696647;
    margin-bottom:2vw;
}
.sb1:hover{
    border-color: #696647;
    background: #696647;
    color:rgb(233, 191, 174);
}
@media(max-width: 700px){
    .phIcon1{
        margin-top: 1vh;
        margin-left: 0vw;
     }
    .sub{
        margin-top: 2vw;
        margin-right:0vw ;
    }
   .call1 img{
       margin-top: -3vw;
       width:50vw;
   }
   .call1{
       font-size:3vw;
       left:3vw;
   }
  .calltext{
      font-size:4vw;
  }
   .phone123{
       left:85vw;
    top:16px;

   }
   
   .b{
       top:110px;
       
           
     }
     .b1{
         top:200px;
     }
     .call2{
       display: none;
       position: fixed;
       text-align: center;
       z-index:11;
       border:4px solid rgb(233, 191, 174);
     left:12vw;   
     color:rgb(233, 191, 174);
     justify-content: center;
     font-size: 1vw;
     border-radius: 2vw;
     text-align: center;
     margin-top: -5vw;
    width: 70vw;  
 }
#emailAddress{
 border-radius: 1vw;
 text-align: center;
 border:3px solid rgb(233, 191, 174);
 height: 7vw;

 width:50vw;
}
#message{

 margin-bottom: 2vw;
 border-radius: 1vw;
 border:3px solid rgb(233, 191, 174);
 height: 15vw;
 text-align: center;
 width:50vw;
}
 .emailBox{
       
     margin-top:2vw;   


  font-size: 3vw;
  text-align: center;
  
 }
 .messageBox{  
     font-size: 3vw;
     text-align: center;
 }
.sb1{
   font-size: 2vw;
   width:25vw;
   height: 5vw;
}
.ic{
   padding-top: 3vw;
}
.ic1{
   padding-top: 2vw;
}
    .di{
        display: none;
    } 
    .navigation__button{
        width: 57px;
        border-radius: 50%;
        left: 25px;
    } 
    .navigation__background{
        left: 28px;
    }
    .navigation__icon,
      .navigation__icon::before,
      .navigation__icon::after {
          width: 15px;
          left: 22px;
         }  
    .navigation__icon::before{
          width: 15px;
          left: 0px;
     } 
    .navigation__icon::after {
             width: 15px;
             left: 0px;
            
    }
    .logo{
        padding-left: 90px;
    }
    .phone{
        display: none;
    }   
    .navigation__list{
        padding-left: 0;
    }
    .menu{
        width: 100vw;
    }
    .menu .logo{
        position: relative;
        left: -8vw;
    }
    #re{
         font-size: 7vw;
    }
   
    .content{
        height: 45%;
    }
    #ee{
        height: 40%;
        width: 80%;
    }
    #ll{
        position: absolute;
       font-size: 12vw;
       top: 40vh;
       width: 60vw;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       left: 40%;
    }
    
    .woo{
        background-color: #746a57;
        height: 100vh;
    }
    #word2{
        color: white;
        font-size: 4vw;
        position: relative;
        top: 25vh;
        left: 10%;
        z-index: 1;
    }
    #we{
        width: 35vw;
        position: relative;
        top: 20vh;
        height: 40vh;
    }
    #ww{
        width: 30vw;
        position: relative;
        top: 35vh;
        left: 0%;
    }
    .car{
        height: 70%;
        padding-top: 50px;
        padding-bottom: 50px;

    }
    
    hr{
        position: absolute;
        top: 172vh;
    }
    #c1{
        position: absolute;
        left: 6vw;
        top:  173vh;
        z-index: 1;
    }
    #c2{
        position: absolute;
        left: 25vw;
        top: 172.8vh;
        z-index: 1;
    }
    #c3{
        position: absolute;
        left: 55vw;
        top: 172.8vh;
        z-index: 1;
    }
    #c4{
        position: absolute;
        left: 90vw;
        top: 172.8vh;
        z-index: 1;
    }
    
    #re{
        position: relative;
        width: 30vw;
        z-index: 2;
        top: 17vh;
        left: -150vw;
    }
    #mer{
        position: absolute;
        top: 180.6vh;
        left: 2%;
        font-size: 4vw;
    }
    #min1{
        position: absolute;
        margin-right: 20px;
        width: 100px;
        top: 180.6vh;
        left: 17vw;
        width: 20vw;
        font-size: 2vw;
    }

    #min2{
        position: absolute;
        top: 180.6vh;
        left: 49vw;
        width: 20vw;
        font-size: 2vw;
    }
    #min3{
        position: absolute;
        top: 180.6vh;
        left: 79vw;
        width: 20vw;
        font-size: 2vw;
        overflow: hidden;
    }
    
    .words{
        height: 55%;
    }
    #ev{
        margin-top: 10vh;
        left: -25%;
        font-size: 10vw;
    }
    #yn{
        left: 70%;
        font-size: 10vw;
    }
    #nyh{
        left: 10%;
        font-size: 10vw;
    }
    .mm{
        height: 58vh;
    }
    #map{
        height: 50vh;
        margin-bottom: 30px;
    }
    
    .footer{
        height: 50vh;
       
    }
    .footer h1{
        font-size: 2vw;
    }
    .footer h3{
        font-size: 2vw;
    }
    .footer h2{
        font-size: 2vw;
    }
    .footer h4{
        font-size: 2vw;
    }
    .footer >div{
        padding-left: 20px;
        
    }
    #rp{
         font-size: 1.7vw;
        padding-right: 20px;
    }

    }